<div class="panel-heading">

    <h3 class="text-center">{{title}}</h3>
    <!-- se for passado um numero escreve um numero, caso contrario tres pontinhos -->
    <h1 class="text-center">{{ if number number '...' }}</h1>
</div>

