<!-- app/templates/libraries.hbs -->
<h1>Bibliotecas</h1>

<div class="well">
  <ul class="nav nav-tabs">
    {{#link-to 'libraries.index' tagName="li"}}<a href="">Listar</a>{{/link-to}}
    {{#link-to 'libraries.new' tagName="li"}}<a href="">Novo</a>{{/link-to}}
  </ul>
</div>
<!-- Aqui renderizará o conteudo de libraries/index.hbs --> 
{{outlet}}